
#slider6 .card1{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/inspiration-one_1.jpg"); 
}
#slider6 .card2{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/inspiration-two_1.jpg"); 
}
#slider6 .card3{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/inspiration-three_1.jpg"); 
}




#slider4 .card1 {
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/gtk-headband.jpg");
}

#slider4 .card2 {
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/gtk-pack.jpg");
}

#slider4 .card3 {
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/gtk-shorts.jpg");
}

#slider4 .card4 {
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/gtk-tee.jpg");
}

#slider4 .card5 {
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/gtk-tug.jpg");
}




#slider1 .card1{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/men-ultra.jpg");
}
#slider1 .card2{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/women-ultra.jpg");
}
#slider1 .card3{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ultra-kit.jpg");
}
#slider1 .card4{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ultra-clothing.jpg");
}
/* .smallerCentreCard{
    height: 352px;
    width: 352px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    border-radius: 5px;   
} */
#slider5 .card1{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/trail.jpg"); 
}
#slider5 .card2{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ultra.jpg"); 
}
#slider5 .card3{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/park.jpg"); 
}
#slider5 .card4{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ocr.jpg"); 
}
#slider5 .card5{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/orienteering.jpg"); 
}
#slider5 .card6{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/road.jpg"); 
}
#slider5 .card7{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/swimrun.jpg"); 
}
/* .smallerCentreCard h2{
    font-size: 37px;
    margin-bottom: 0;
}
.productCard{
    height: 334px;
    width: 320px;
    font-size: 16px;
    border-radius: 5px;
}
.productCard__image{
    height: 249px;
    width: 320px;
    background-image: url("https://via.placeholder.com/800"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: white;
} */
/* .productCard .card1{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/gtk-headband.jpg"); 
}
.productCard .card2{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/gtk-pack.jpg"); 
}
.productCard .card3{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/gtk-shorts.jpg"); 
}
.productCard .card4{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/gtk-tee.jpg"); 
}
.productCard .card5{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/gtk-tug.jpg"); 
} */
/* .productCard__title{
    padding: 20px 0px;
} */

/* #slider2 .card1 .productCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-one.jpg"); 
}
#slider2 .card2 .productCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-twoA.jpg"); 
}
#slider2 .card3 .productCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-threeA.jpg"); 
}
#slider2 .card4 .productCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-fourA.jpg"); 
}
#slider2 .card5 .productCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-five.jpg"); 
}
#slider2 .card6  .productCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-six.jpg"); 
}
#slider2 .card7 .productCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-seven.jpg"); 
}
#slider2 .card8  .productCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-eight.jpg"); 
}
#slider2 .card9  .productCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-nine.jpg"); 
}
 */


#slider2 .card1 {
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-one.jpg")
}

#slider2 .card2 {
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-twoA.jpg")
}

#slider2 .card3{
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-threeA.jpg")
}

#slider2 .card4 {
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-fourA.jpg")
}

#slider2 .card5 {
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-five.jpg")
}

#slider2 .card6 {
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-six.jpg")
}

#slider2 .card7{
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-seven.jpg")
}

#slider2 .card8 {
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-eight.jpg")
}

#slider2 .card9{
	background-image: url("https://www.inov-8.com/media/ultra-running/desktop/product-nine.jpg")
}

/* .productCard__title h4{
    margin-bottom: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0;
}
.productCard__title p{
    margin-bottom: 20px;
    font-size: 16px;
}
.blogCard{
    width: 364px;
    height: 398px;
}
.blogCard__title{
    font-size: 22px;
    padding: 20px 0px;
}
.blogCard__title h2{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: none;
    letter-spacing: 0;
}
.blogCard__image{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 281px;
    width: 364px;
} */
#slider3 .card1 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/blog-one.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider3 .card2 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/blog-two.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider3 .card3 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/blog-three.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider3 .card4 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/blog-four.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider3 .card5 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/blog-five.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media only screen and (max-width: 800px) and (min-width: 601px) {
   /*  .ultra_title_container h2 {
        font-size: 20px;
        line-height: 20px;
    } */
   /*  .beInspired{
        height: 600px;
        width: 400px;
    } */
    #slider6 .card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/inspiration-one.jpg"); 
    }
    #slider6 .card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/inspiration-two.jpg"); 
    }
    #slider6 .card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/inspiration-three.jpg"); 
    }



    #slider1 .card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/ultra-mens.jpg");
    }
    #slider1 .card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/ultra-womens.jpg");
    }
    #slider1 .card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/ultra-kit.jpg");
    }
    #slider1 .card4{
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/ultra-clothing.jpg");
    }

}


@media only screen and (max-width: 600px) and (min-width: 0px) {
    
/*     .productCard{
        width: 220px;
        height: 266px;
    }
    .productCard__image{
        height: 170px;
        width: 220px;
    } */
    #slider5 .card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/trail.jpg"); 
    }
    #slider5 .card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ultra.jpg"); 
    }
    #slider5 .card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/park.jpg"); 
    }
    #slider5 .card4{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ocr.jpg"); 
    }
    #slider5 .card5{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/orienteering.jpg"); 
    }
    #slider5 .card6{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/road.jpg"); 
    }
    #slider5 .card7{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/swimrun.jpg"); 
    }




    #slider3 .card1 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/blog-one.jpg");
    }
    #slider3 .card2 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/blog-two.jpg");
    }
    #slider3 .card3 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/blog-three.jpg");
    }
    #slider3 .card4 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/blog-four.jpg");
    }
    #slider3 .card5 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/blog-five.jpg");
    }




    #slider1 .card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/mens-ultra.jpg");
    }
    #slider1 .card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/womens-ultra.jpg");
    }
    #slider1 .card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ultra-kit.jpg");
    }
    #slider1 .card4{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ultra-clothing.jpg");
    }


    #slider6 .card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/inspiration-one_1.jpg"); 
    }
    #slider6 .card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/inspiration-two_1.jpg"); 
    }
    #slider6 .card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/inspiration-three_1.jpg"); 
    }
  /*   .beInspired{
        height: 500px;
        width: 300px;
    }
    .beInspired__title {
        font-size: 20px;
        padding: 0 15px;
        line-height: 22px;
    }
    .beInspired__title h2{
        margin-bottom: 10px;
        font-size: 18px;
    } */

    
    /* .productCard .card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/gtk-headband.jpg"); 
    }
    .productCard .card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/gtk-pack.jpg"); 
    }
    .productCard .card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/gtk-shorts.jpg"); 
    }
    .productCard .card4{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/gtk-base.jpg"); 
    }
    .productCard .card5{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/gtk-tug.jpg"); 
    } */
  /*   .blogCard{
        width: 315px;
        height: 202px;
    }
    .blogCard__title h2{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
        text-transform: none;
        letter-spacing: 0;
    }
    .blogCard__image{
        height: 202px;
        width: 315px;
    } */
  /*   .smallerCentreCard{
        height: 200px;
        width: 200px;
    }
    .smallerCentreCard h2{
        font-size: 22px;
    } */
}