* {
    padding: 0px;
    margin: 0px;
    font-family: "DINPro";
};
html {
  scroll-behavior: smooth;
}
body{
    background-color: #fbfbfb;
}
.ultra-running-page{
    background-color: #fbfbfb!important;
    margin-left: -15px;
    margin-right: -15px;
}
.ultra-running-page h3{
    margin-bottom: 0px;
}
.rightMargin20{
  margin-right: 20px;
}
.ultra-running-page h1{
    margin: 0 0 0px;
}

.ultra_title_container{
  max-width: 70%;
  margin-bottom: 0px;
}
.ultra_title_container h2{
  font-size: 40px;
  line-height: 40px;
  margin: 0;
}
.btn-black {
  /* background-color: #000; */
  color: #000;
  /* padding: 10px 20px; */
  font-size: 16px;
  display: inline-block;
  text-decoration: underline;
}
.greenButton{
color: #000;
    background: #0f0;
    text-align: center;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    display: table;
    max-width: 200px;
    margin-top: 20px;
}
.btn-white {
  /* background-color: #000; */
  color: #fff;
  /* padding: 10px 20px; */
  font-size: 16px;
  display: inline-block;
  text-decoration: underline;
}
.fade{
  opacity: 0;   
}

.change{
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.displayMobile{
  display: none!important;
}


@keyframes wipe-enter {
	0% {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
		transform: scale(0.75);
	}
	100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
		transform: scale(1);
	}
}

@media (prefers-reduced-motion: no-preference) {
    .square {
      animation-name: wipe-enter;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .square-animation {
      animation: wipe-enter 1s 1;
    }
  }

  @media only screen and (max-width: 800px) and (min-width: 601px) {
    .ultra_title_container h2 {
      font-size: 20px;
      line-height: 20px;
    }
    .displayDesktop{
      display: none;
    }
    .displayMobile{
      display: flex!important;
    }
  }


  @media only screen and (max-width: 600px) and (min-width: 0px) {

    .displayDesktop{
      display: none;
    }
    .displayMobile{
      display: flex!important;
    }
    .ultra_title_container {
      max-width: 100%;
      margin-bottom: 10px;
    }
    .ultra_title_container h2 {
      font-size: 18px;
      line-height: 20px;
      margin: 0;
  }

  }