.header{
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    max-height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.header1{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/header.jpg"); 
}
.header2{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/competition.jpeg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.header__container{
    max-width: 55%;
    margin: auto;
}
.header h1{
    font-size: 7vw;
    color: #FFFFFF;
    margin-bottom:10px;
}
.header h2{
    font-size: 60px;
    color: #FFFFFF;
}
.header h3{
    font-size: 3vw;
    color: #FFFFFF;
}

.titleCard{
    height: 800px;
    color: white;
    background-image: url("https://via.placeholder.com/800"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    display: flex;
 flex-direction: row;
/*    justify-content: center; */
}
.titleCard__title{
    display: flex;
    align-items: center;
}
.titleCard__content{
    display: grid;
    grid-template-rows: 20% 50% 20%;
    margin: 50px 112px;
    position: absolute;
    width: 600px;
    height: 800px;
    box-sizing: border-box;
    max-height: 700px;
}
.titleCard__content h2{
    font-size: 60px;
    color: white;
    line-height: 60px;
}
.titleCard__content p{
    font-size: 28px;
    line-height: 28px;
    color: white;
    margin-bottom: 60px;
}
.titleCard h2{
    font-size: 60px;
}
.titleCard p{
    font-size: 28px;
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    .header{
        max-height: 414px;
    }
    .header1{
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/header.jpg"); 
    }
    .header2{
        background-image: url("https://www.inov-8.com/media/ultra-running/desktop/competition.jpeg"); 
    }
    .header h1{
        font-size: 100px;
        letter-spacing: 0;
    }
    .header h3{
        font-size: 40px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .header h1{
        font-size: 50px;
        letter-spacing: 0;
    }
    .header h3{
        font-size: 20px;
        color: #FFFFFF;
    }
    .header{
        max-height: 414px;
    }
    .header1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/header.jpg"); 
    }
    .header2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/competition-mobile.jpg"); 
    }
    .titleCard__content h2{
        font-size: 34px;
        line-height: 36px;
    }
    .titleCard__content p{
        font-size: 16px;
        line-height: 18px;
    }
    .titleCard__content{
        margin: 90px 0px;
        position: absolute;
        width: 100%;
        padding: 20px;

        height: 610px;
    }
    .titleCard__content{
        display: grid;
        grid-template-rows: 16% 64% 20%;
    }
}