.paragraph{
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    width: 50%;
    margin: auto;
    padding: 150px 0px;
    box-sizing: border-box;
}
.paragraph h3{
    font-size: 30px;
    font-weight: 400;
    text-transform: none;
}


@media only screen and (max-width: 800px) and (min-width: 601px) {
    .paragraph{
        width: 75%;
        padding: 100px 0px;
    }
    .paragraph h3{
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .paragraph{
        width: 100%;
        padding: 50px 20px;
        box-sizing: border-box;
    }
    .paragraph h3{
        font-size: 16px;
        text-transform: none;
        text-align: left;
        letter-spacing: 0;
    }
}