.title{
    color: black;
    text-transform: uppercase;
    margin-left: 112px;
    padding: 0px 0px 90px 0px;
    display: flex;
}
.title h3{
    font-size: 30px;
    margin-bottom: 0px;
}

.title div {
    display: flex;
    flex-direction: column;
    margin: auto 0px;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .title{
        margin-left: 20px;
    }
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .title{
        color: black;
        text-transform: uppercase;
        margin-left: 20px;
        padding: 0px 0px 50px 0px;
        display: flex;
    }
    .title h3{
        font-size: 22px;
    }
}