.card600x600{
    height: 600px;
	width: 600px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	font-size: 40px;
	padding: 0 20px;
	box-sizing: border-box;
	border-radius: 5px
}
.card600x600 h2 {
    font-size: 34px;
    line-height: 34px;
    margin: 0;
}

.card600x600_container{
    max-width: 70%;
    margin-bottom: 0px;
  }
  .card600x600_container h2{
    font-size: 40px;
    line-height: 40px;
    margin: 0;
  }

  .card600x600_container .sider_container a {

    text-decoration: none;
    color: white;
}
/* .card600x600Height .innerSlider{
    display: flex;
    gap: 20px;
    pointer-events: none; 
    position: absolute;
    top: 0;
    left: 0;
}  */
.card600x600Height .firstChildMargin {
    margin-left: 110px;
}
.card600x600Height{
    height: 670px;
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    .card600x600Height .firstChildMargin {
        margin-left: 30px;
    }
    .card600x600Height{
        height: 300px;
    }
    .card600x600 {
        height: 300px;
        width: 300px;
    }
    .card600x600 h2 {
        font-size: 20px;
        line-height: 20px;
    }

}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .card600x600{
        height: 280px;
        width: 220px;
        font-size: 20px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .card600x600Height{
        height: 280px;
    }
    .card600x600Height .firstChildMargin {
        margin-left: 0px;
    }

    .card600x600 h2 {
        font-size: 18px;
        line-height: 20px;
        margin: 0;
    }
    .card600x600_container {
        max-width: 100%;
        margin-bottom: 10px;
      }
      .card600x600_container h2 {
        font-size: 18px;
        line-height: 20px;
        margin: 0;
    }
    
}
