.card600x800{
    height: 800px;
    width: 600px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    border-radius: 5px;
}

.card600x800__title{
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    padding: 0px 47px;
    line-height: 40px;
}
.card600x800__title h2{
    margin-bottom: 0;
    font-size: 22px;
    letter-spacing: 0;
    font-weight: 400;
    text-transform: none;
}
.card600x800Height{
    height: 875px;
}
.card600x800Height .firstChildMargin {
    margin-left: 110px;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .card600x800Height .firstChildMargin {
        margin-left: 30px;
    }
    .card600x800{
        height: 600px;
        width: 400px;
    }
    .card600x800Height{
        height: 620px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .card600x800{
        height: 500px;
        width: 300px;
    }
    .card600x800__title {
        font-size: 20px;
        padding: 0 15px;
        line-height: 22px;
    }
    .card600x800__title h2{
        margin-bottom: 10px;
        font-size: 18px;
    }
    .card600x800Height .firstChildMargin {
        margin-left: 0px;
    }
    .card600x800Height{
        height: 500px;
    }
}