* {
	padding: 0;
	margin: 0;
	font-family: DINPro
}

;
html {
	scroll-behavior: smooth
}

body {
	background-color: #fbfbfb
}

.ultra-running-page {
	background-color: #fbfbfb!important;
	margin-left: -15px;
	margin-right: -15px
}

.ultra-running-page h3 {
	margin-bottom: 0
}

.rightMargin20 {
	margin-right: 20px
}

.ultra-running-page h1 {
	margin: 0
}

.ultra_title_container {
	max-width: 70%;
	margin-bottom: 0
}

.ultra_title_container h2 {
	font-size: 34px;
	line-height: 34px;
	margin: 0
}

.btn-black {
	display: inline-block;
	text-decoration: underline
}

.btn-black,
.greenButton {
	color: #000;
	font-size: 16px
}

.greenButton {
	background: #0f0;
	text-align: center;
	margin-right: 20px;
	text-transform: uppercase;
	padding: 10px 15px;
	display: table;
	max-width: 200px;
	margin-top: 20px
}

.btn-white {
	color: #fff;
	font-size: 16px;
	display: inline-block;
	text-decoration: underline
}

.fade {
	opacity: 0
}

.change {
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out
}

@keyframes wipe-enter {
	0% {
		-webkit-transform: scale(.7);
		-ms-transform: scale(.7);
		transform: scale(.75)
	}
	to {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}

@media (prefers-reduced-motion:no-preference) {
	.square {
		animation-name: wipe-enter;
		animation-duration: 1s;
		animation-iteration-count: infinite
	}
}

@media (prefers-reduced-motion:no-preference) {
	.square-animation {
		animation: wipe-enter 1s 1
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.ultra_title_container {
		max-width: 100%;
		margin-bottom: 10px
	}
	.ultra_title_container h2 {
		font-size: 18px;
		line-height: 20px;
		margin: 0
	}
}

.header {
	height: 100vh;
	text-align: center;
	text-transform: uppercase;
	max-height: 1100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover
}

.header1 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/header.jpg)
}

.header2 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/competition.jpeg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover
}

.header__container {
	max-width: 55%;
	margin: auto
}

.header h1 {
	font-size: 7vw;
	color: #fff;
	margin-bottom: 10px
}

.header h2 {
	font-size: 60px;
	color: #fff
}

.header h3 {
	font-size: 3vw;
	color: #fff
}

.titleCard {
	height: 800px;
	color: #fff;
	background-image: url(https://via.placeholder.com/800);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row
}

.titleCard__title {
	display: flex;
	align-items: center
}

.titleCard__content {
	display: grid;
	grid-template-rows: 20% 50% 20%;
	margin: 50px 112px;
	position: absolute;
	width: 600px;
	height: 800px;
	box-sizing: border-box;
	max-height: 700px
}

.titleCard__content h2 {
	font-size: 60px;
	color: #fff;
	line-height: 60px
}

.titleCard__content p {
	font-size: 28px;
	line-height: 28px;
	color: #fff;
	margin-bottom: 60px
}

.titleCard h2 {
	font-size: 60px
}

.titleCard p {
	font-size: 28px
}

@media only screen and (max-width:800px) and (min-width:601px) {
	.header {
		max-height: 414px
	}
	.header1 {
		background-image: url(https://www.inov-8.com/media/ultra-running/tablet/header.jpg)
	}
	.header2 {
		background-image: url(https://www.inov-8.com/media/ultra-running/desktop/competition.jpeg)
	}
	.header h1 {
		font-size: 100px;
		letter-spacing: 0
	}
	.header h3 {
		font-size: 40px
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.header h1 {
		font-size: 50px;
		letter-spacing: 0
	}
	.header h3 {
		font-size: 20px;
		color: #fff
	}
	.header {
		max-height: 414px
	}
	.header1 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/header.jpg)
	}
	.header2 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/competition-mobile.jpg)
	}
	.titleCard__content h2 {
		font-size: 34px;
		line-height: 36px
	}
	.titleCard__content p {
		font-size: 16px;
		line-height: 18px
	}
	.titleCard__content {
		margin: 90px 0;
		position: absolute;
		width: 100%;
		padding: 20px;
		height: 610px;
		display: grid;
		grid-template-rows: 16% 64% 20%
	}
}

.slider {
	padding: 40px 0 10px
}

.slider_controls {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 40px
}

.slider1 .slider_controls {
	height: 680px
}

.slider2 .slider_controls {
	height: 400px
}

.slider3 .slider_controls {
	height: 425px
}

.slider4 .slider_controls,
.slider5 .slider_controls {
	height: 400px
}

.innerSlider5 a {
	text-decoration: none
}

.slider6 .slider_controls {
	height: 875px
}

.sider_container {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: relative
}

.slider1 {
	margin-bottom: 150px;
	margin-left: 110px
}

.slider2,
.slider3 {
	margin-bottom: 100px;
	margin-left: 110px
}

.slider5,
.slider6 {
	margin-left: 110px
}

.slider6 {
	margin-bottom: 150px
}

.slider1 .innerSlider {
	display: flex;
	gap: 20px;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0
}

@media screen and (min-width:2475px) {
	.slider1 .innerSlider {
		width: 100vw
	}
}

.slider2 .innerSlider,
.slider3 .innerSlider {
	display: flex;
	gap: 30px;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0
}

@media screen and (min-width:2000px) {
	.slider3 .innerSlider {
		width: 100vw
	}
}

.slider4 .innerSlider {
	pointer-events: none
}

.slider4 .innerSlider,
.slider5 .innerSlider {
	display: flex;
	gap: 30px;
	position: absolute;
	top: 0;
	left: 0
}

.slider6 .innerSlider {
	display: flex;
	gap: 50px;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0
}

@media screen and (min-width:1850px) {
	.slider6 .innerSlider {
		width: 100vw
	}
}

.innerSlider a {
	pointer-events: all
}

.slider5 .innerSlider a {
	text-decoration: none
}

.slider_card {
	align-content: center
}

.innerSlider img {
	max-height: 200px
}

.slider_card_meta_info {
	display: grid;
	grid-template-columns: repeat(2, 1fr)
}

.innerSlider a {
	color: #000;
	text-decoration: underline
}

.innerSlider_card_meta_info h3,
.innerSlider a {
	text-transform: uppercase
}

.sliderButtonControlContainer {
	display: flex;
	justify-content: flex-end;
	margin: 0 40px 40px 0
}

.sliderButtonControl {
	background-color: #ebebeb;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	color: #000;
	font-size: 16px;
	border: 0;
	cursor: pointer
}

.sliderFiveLeft {
	margin-right: 20px
}

.slider_progress {
	width: 80%;
	margin: auto;
	height: 40px
}

.sliderProgress {
	width: 100%
}

.progressBarBg {
	height: 4px;
	background-color: #d0d0d0;
	width: 100%;
	border-radius: 10px;
	position: relative
}

.progressBarInner1 {
	position: absolute;
	left: 0
}

.progressBarInner1,
.progressBarInner2,
.progressBarInner3,
.progressBarInner4,
.progressBarInner5,
.progressBarInner6 {
	height: 4px;
	background-color: #01ff01;
	width: 0;
	border-radius: 10px
}

.lineThroughText {
	text-decoration-line: line-through
}

.feature {
	border: 1px solid #000;
	display: inline-block;
	padding: 2px 20px;
	margin-bottom: 25px
}

.noFeature {
	height: 50px
}

.feature span {
	text-transform: uppercase;
	font-size: 10px
}

@media only screen and (max-width:800px) and (min-width:601px) {
	.slider1 .slider_controls {
		height: 330px
	}
	.slider5 .slider_controls {
		height: 360px
	}
	.slider6 .slider_controls {
		height: 620px
	}
	.slider3 .slider_controls {
		height: 340px
	}
	.slider2 .slider_controls {
		height: 400px
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.slider1 .slider_controls {
		height: 300px
	}
	.slider3 .slider_controls {
		height: 380px
	}
	.slider2 .slider_controls {
		height: 320px
	}
	.slider5 .slider_controls {
		height: 208px
	}
	.slider6 .slider_controls {
		height: 500px
	}
}

@media only screen and (max-width:800px) {
	.innerSlider {
		width: auto
	}
	.innerSlider img {
		max-height: 160px
	}
	.slider1 {
		margin-bottom: 35px;
		margin-left: 20px
	}
	.slider2 {
		margin-bottom: 70px
	}
	.slider2,
	.slider3,
	.slider4,
	.slider5,
	.slider6 {
		margin-left: 20px
	}
	.slider4 .slider_controls {
		height: 300px
	}
}

.paragraph {
	text-align: center;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #000;
	width: 50%;
	margin: auto;
	padding: 150px 0;
	box-sizing: border-box
}

.paragraph h3 {
	font-size: 30px;
	font-weight: 400;
	text-transform: none
}

@media only screen and (max-width:800px) and (min-width:601px) {
	.paragraph {
		width: 75%;
		padding: 100px 0
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.paragraph {
		width: 100%;
		padding: 50px 20px;
		box-sizing: border-box
	}
	.paragraph h3 {
		font-size: 16px;
		text-transform: none;
		text-align: left;
		letter-spacing: 0
	}
}

.title {
	color: #000;
	text-transform: uppercase;
	margin-left: 112px;
	padding: 90px 0;
	display: flex
}

.title h3 {
	font-size: 30px;
	margin-bottom: 0
}

.title div {
	display: flex;
	flex-direction: column;
	margin: auto 0
}

@media only screen and (max-width:800px) and (min-width:601px) {
	.title {
		margin-left: 20px
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.title {
		color: #000;
		text-transform: uppercase;
		margin-left: 20px;
		padding: 50px 0;
		display: flex
	}
	.title h3 {
		font-size: 22px
	}
}

.kitList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	margin-bottom: 100px
}

.kitList__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/get-the-kit.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 800px
}

.kitList__content {
	display: flex;
	justify-content: flex-end;
	flex-direction: column
}

@media only screen and (max-width:800px) and (min-width:601px) {
	.kitList__image {
		background-image: url(https://www.inov-8.com/media/ultra-running/tablet/get-the-kit.jpg);
		min-height: 700px
	}
	.kitList {
		display: grid;
		grid-template-columns: repeat(1, 1fr)
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.kitList {
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 70px
	}
	.kitList__image {
		min-height: 350px;
		margin: 0 20px;
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/get-the-kit.jpg)
	}
}

#video-compare-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-top: 42.3%
}

#video-compare-container>img {
	width: 100%;
	position: absolute;
	top: 0;
	height: 100%
}

#video-clipper {
	width: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden
}

#video-clipper img {
	width: 200%;
	position: absolute;
	height: 100%;
	max-width: none
}

.video-compare-container__content {
	position: absolute;
	top: 90px;
	left: 100px;
	z-index: 5;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	width: 400px
}

.video-compare-container__content p {
	color: #fff;
	font-size: 28px;
	line-height: 28px
}

.video-compare-container__content h2 {
	color: #fff;
	font-size: 60px;
	line-height: 60px
}

.grapheneMobile {
	display: none
}

@media only screen and (max-width:800px) and (min-width:0px) {
	#video-compare-container {
		height: 700px;
		display: none
	}
	.video-compare-container__content {
		position: absolute;
		top: 62px;
		left: 20px;
		width: 60%
	}
	.video-compare-container__content p {
		font-size: 16px;
		line-height: 21px
	}
	.video-compare-container__content h2 {
		font-size: 40px;
		line-height: 40px
	}
}

@media only screen and (max-width:800px) and (min-width:601px) {
	.grapheneMobile {
		height: 500px;
		display: block;
		background-image: url(https://www.inov-8.com/media/ultra-running/tablet/graphene.jpg);
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #fff;
		position: relative
	}
	.video-compare-container__content p {
		font-size: 18px;
		line-height: 20px
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.grapheneMobile {
		height: 700px;
		display: block;
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/graphene.jpg);
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #fff;
		position: relative
	}
}

.beInspired {
	height: 800px;
	width: 587px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 5px
}

.beInspired__card1 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/inspiration-one_1.jpg)
}

.beInspired__card2 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/inspiration-two_1.jpg)
}

.beInspired__card3 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/inspiration-three_1.jpg)
}

.beInspired__title {
	color: #fff;
	font-size: 30px;
	position: absolute;
	bottom: 40px;
	padding: 0 47px;
	line-height: 40px
}

.beInspired__title h2 {
	margin-bottom: 0;
	font-size: 22px;
	letter-spacing: 0;
	font-weight: 400;
	text-transform: none
}

.largeCentreCard {
	height: 600px;
	width: 587px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	font-size: 40px;
	padding: 0 20px;
	box-sizing: border-box;
	border-radius: 5px
}

.largeCentreCard__card1 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/men-ultra.jpg)
}

.largeCentreCard__card2 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/women-ultra.jpg)
}

.largeCentreCard__card3 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/ultra-kit.jpg)
}

.largeCentreCard__card4 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/ultra-clothing.jpg)
}

.smallerCentreCard {
	height: 352px;
	width: 352px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 40px;
	border-radius: 5px
}

.smallerCentreCard__card1 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/trail.jpg)
}

.smallerCentreCard__card2 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/ultra.jpg)
}

.smallerCentreCard__card3 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/park.jpg)
}

.smallerCentreCard__card4 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/ocr.jpg)
}

.smallerCentreCard__card5 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/orienteering.jpg)
}

.smallerCentreCard__card6 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/road.jpg)
}

.smallerCentreCard__card7 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/swimrun.jpg)
}

.smallerCentreCard h2 {
	font-size: 37px;
	margin-bottom: 0
}

.productCard {
	height: 334px;
	width: 320px;
	font-size: 16px;
	border-radius: 5px
}

.productCard__image {
	height: 249px;
	width: 320px;
	background-image: url(https://via.placeholder.com/800);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff
}

.productCard .card1 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/gtk-headband.jpg)
}

.productCard .card2 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/gtk-pack.jpg)
}

.productCard .card3 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/gtk-shorts.jpg)
}

.productCard .card4 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/gtk-tee.jpg)
}

.productCard .card5 {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/gtk-tug.jpg)
}

.productCard__title {
	padding: 20px 0
}

.slider2 .productCard1a .productCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/product-one.jpg)
}

.slider2 .productCard2a .productCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/product-twoA.jpg)
}

.slider2 .productCard3a .productCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/product-threeA.jpg)
}

.slider2 .productCard4a .productCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/product-fourA.jpg)
}

.slider2 .productCard5a .productCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/product-five.jpg)
}

.slider2 .productCard6a .productCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/product-six.jpg)
}

.slider2 .productCard7a .productCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/product-seven.jpg)
}

.slider2 .productCard8a .productCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/product-eight.jpg)
}

.slider2 .productCard9a .productCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/product-nine.jpg)
}

.productCard__title h4 {
	margin-bottom: 20px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0
}

.productCard__title p {
	margin-bottom: 20px;
	font-size: 16px
}

.blogCard {
	width: 364px;
	height: 398px
}

.blogCard__title {
	font-size: 22px;
	padding: 20px 0
}

.blogCard__title h2 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
	text-transform: none;
	letter-spacing: 0
}

.blogCard__image {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 281px;
	width: 364px
}

.blogCard1 .blogCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/blog-one.jpg)
}

.blogCard2 .blogCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/blog-two.jpg)
}

.blogCard3 .blogCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/blog-three.jpg)
}

.blogCard4 .blogCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/blog-four.jpg)
}

.blogCard5 .blogCard__image {
	background-image: url(https://www.inov-8.com/media/ultra-running/desktop/blog-five.jpg)
}

@media only screen and (max-width:800px) and (min-width:601px) {
	.largeCentreCard {
		height: 300px;
		width: 300px
	}
	.ultra_title_container h2 {
		font-size: 20px;
		line-height: 20px
	}
	.beInspired {
		height: 600px;
		width: 400px
	}
	.beInspired__card1 {
		background-image: url(https://www.inov-8.com/media/ultra-running/tablet/inspiration-one.jpg)
	}
	.beInspired__card2 {
		background-image: url(https://www.inov-8.com/media/ultra-running/tablet/inspiration-two.jpg)
	}
	.beInspired__card3 {
		background-image: url(https://www.inov-8.com/media/ultra-running/tablet/inspiration-three.jpg)
	}
	.largeCentreCard__card1 {
		background-image: url(https://www.inov-8.com/media/ultra-running/tablet/ultra-mens.jpg)
	}
	.largeCentreCard__card2 {
		background-image: url(https://www.inov-8.com/media/ultra-running/tablet/ultra-womens.jpg)
	}
	.largeCentreCard__card3 {
		background-image: url(https://www.inov-8.com/media/ultra-running/tablet/ultra-kit.jpg)
	}
	.largeCentreCard__card4 {
		background-image: url(https://www.inov-8.com/media/ultra-running/tablet/ultra-clothing.jpg)
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.largeCentreCard {
		height: 280px;
		width: 220px;
		font-size: 20px;
		padding: 0 20px;
		box-sizing: border-box
	}
	.productCard {
		width: 220px;
		height: 266px
	}
	.productCard__image {
		height: 170px;
		width: 220px
	}
	.smallerCentreCard__card1 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/trail.jpg)
	}
	.smallerCentreCard__card2 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/ultra.jpg)
	}
	.smallerCentreCard__card3 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/park.jpg)
	}
	.smallerCentreCard__card4 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/ocr.jpg)
	}
	.smallerCentreCard__card5 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/orienteering.jpg)
	}
	.smallerCentreCard__card6 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/road.jpg)
	}
	.smallerCentreCard__card7 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/swimrun.jpg)
	}
	.largeCentreCard__card1 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/mens-ultra.jpg)
	}
	.largeCentreCard__card2 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/womens-ultra.jpg)
	}
	.largeCentreCard__card3 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/ultra-kit.jpg)
	}
	.largeCentreCard__card4 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/ultra-clothing.jpg)
	}
	.beInspired__card1 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/inspiration-one_1.jpg)
	}
	.beInspired__card2 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/inspiration-two_1.jpg)
	}
	.beInspired__card3 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/inspiration-three_1.jpg)
	}
	.beInspired {
		height: 500px;
		width: 300px
	}
	.beInspired__title {
		font-size: 20px;
		padding: 0 15px;
		line-height: 22px
	}
	.beInspired__title h2 {
		margin-bottom: 10px;
		font-size: 18px
	}
	.productCard .card1 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/gtk-headband.jpg)
	}
	.productCard .card2 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/gtk-pack.jpg)
	}
	.productCard .card3 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/gtk-shorts.jpg)
	}
	.productCard .card4 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/gtk-base.jpg)
	}
	.productCard .card5 {
		background-image: url(https://www.inov-8.com/media/ultra-running/mobile/gtk-tug.jpg)
	}
	.smallerCentreCard {
		height: 200px;
		width: 200px
	}
	.smallerCentreCard h2 {
		font-size: 22px
	}
}

video {
	object-fit: cover;
	top: 0;
	left: 0
}

.videoContainer,
video {
	position: relative;
	display: flex;
	height: 800px;
	width: 100%
}

.videoContainer {
	margin-bottom: 0;
	display: flex
}

.center {
	text-align: center;
	justify-content: center
}

.videoContainer .shopButtons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 316px
}

.videoContainer p {
	color: #fff
}

.videoContainer .bannerText {
	position: absolute;
	top: 35%;
	left: 10px;
	z-index: 10;
	padding: 0 0 0 90px;
	align-self: center
}

.videoContainer__container {
	max-width: 55%;
	margin: auto;
	position: absolute;
	display: flex;
	flex-direction: row;
	align-self: center
}

.videoContainer__container h1 {
	font-size: 166px;
	color: #fff
}

.videoContainer__container h2 {
	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
	line-height: 60px
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.videoContainer__container {
		max-width: 80%
	}
	.videoContainer {
		margin-bottom: 0
	}
	.videoContainer__container h2 {
		font-size: 30px;
		line-height: 30px
	}
	.videoContainer,
	video {
		position: relative;
		display: flex;
		height: 700px;
		width: 100%
	}
}

.socailWidget {
	margin: 0 112px 100px
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.socailWidget {
		margin: 0 20px 60px
	}
}






























* {
	margin: 0;
	padding: 0;
	font-family: DINPro
}

.homepageRemake {
	margin-left: -15px;
	margin-right: -15px
}

h2.sectitle {
	color: #000;
	margin-bottom: 20px
}

.homepageRemake .blue h2,
.homepageRemake .blue p {
	color: #406587
}

.homepageRemake .black {
	color: #000!important;
	margin-bottom: 40px;
	margin-left: 50px
}

.homepageRemake .white {
	color: #fff
}

.homepageRemake h1,
.homepageRemake h2,
.videoContainer .homepageRemake h3 {
	text-transform: uppercase;
	color: #fff;
	margin: 0
}

.homepageRemake a {
	text-decoration: none;
	transition: all
}

.videoContainer {
    background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/trailfly-mtb.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width:801px) and (min-width:600px) {
    .videoContainer {
        background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/trailfly-mtb.jpg);
    }
}

@media only screen and (max-width:600px) and (min-width:0px) {
    .videoContainer {
        background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/trailfly-mtb.jpg);
    }
}

.videoContainer p {
	font-size: 26px
}

.videoContainer h3 {
	font-weight: 100;
	margin: 0 0 32px
}

.videoContainer h1 {
	font-size: 50px;
	margin-bottom: 15px
}

.vidprodBtn a {
	color: #000;
	background: #fff;
	text-align: center;
	margin-right: 20px;
	text-transform: uppercase;
	font-size: 16px;
	padding: 10px 5px
}



.vidprodBtn a:hover {
	color: #fff;
	background: #000
}
.greenBoarder{
    border: 3px solid rgba(0,128,0, 0.5);
    display: table-caption;
    width: 450px;
    padding: 5px;
}
@media only screen and (max-width:1600px) and (min-width:600px) {
    .greenBoarder{
        width: 245px;
    }

}
@media only screen and (max-width:801px) and (min-width:600px) {
	.homepageRemake .black {
		margin-left: 20px;
		margin-bottom: 22px
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.homepageRemake .black {
		margin-left: 20px;
		margin-bottom: 35px
	}
	.vidprodBtn a {
		max-width: 230px;
		min-width: 115px
	}
    .greenBoarder{
        width: 200px;
     }
}

.banner5050 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 645px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px
}

.banner5050 h2 {
	color: #000
}

.banner5050__left {
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/aboutus.jpeg)
}

.banner5050__right {
	background-color: #f8f8f8;
	color: #000;
	display: grid;
	justify-content: center
}

.banner5050__right__text {
	display: grid;
	align-self: center;
	margin: 120px 130px
}

.banner5050__right__text h2 {
	margin-bottom: 20px
}

@media only screen and (max-width:801px) and (min-width:600px) {
	.banner5050 {
		grid-template-columns: repeat(1, 1fr);
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 25px
	}
	.banner5050__left {
		min-height: 260px
	}
	.banner5050__right__text {
		margin: 34px 38px
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.banner5050 {
		grid-template-columns: repeat(1, 1fr);
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 50px;
		min-height: 500px
	}
	.banner5050__left {
		height: 280px
	}
	.banner5050__right__text {
		margin: 26px
	}
}

.grid3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 50px;
	margin-right: 25px;
	margin-left: 25px
}

.grid3__card1,
.grid3__card2,
.grid3__card3 {
	height: 500px
}

.grid3__card1 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/grid3/new-in.jpg)
}

.grid3__card2 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/grid3/f-lite-g-300-power-desktop_3x3.png)
}

.grid3__card3 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/roclite-345-desktop.jpg)
}

.grid3__card {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: "feature" "introText" "empty";
	background-color: #000;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all .5s ease;
	background-color: #c5c5c5;
	margin: 0 25px
}

.grid3__card__feature {
	grid-area: feature;
	display: grid;
	grid-template-columns: 70% 30%
}

.grid3__card__feature div {
	border: 1px solid #fff;
	color: #fff;
	padding: 5px 10px;
	max-height: 36px;
	margin: 20px 0 20px 20px
}

.grid3__card__text {
	grid-area: introText;
	color: #fff;
	margin: 30px;
	display: grid;
	align-content: center
}

.grid3 p {
	text-transform: uppercase;
	font-size: 18px
}

.grid3__card__link a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: underline;
	margin-right: 15px;
	font-size: 14px
}

@media only screen and (max-width:1180px) and (min-width:801px) {
	.grid3__card1,
	.grid3__card2,
	.grid3__card3 {
		height: 300px
	}
}

@media only screen and (max-width:801px) and (min-width:600px) {
	.grid3 {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 0
	}
	.grid3__card {
		margin: 0 10px 20px
	}
	.grid3__card1,
	.grid3__card2,
	.grid3__card3 {
		height: 300px
	}
	.grid3__card1 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/grid3/new-in.jpg)
	}
	.grid3__card2 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/grid3/f-lite-g-300-power-tablet-3x3.png)
	}
	.grid3__card3 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/roclite-345-tablet.jpg)
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.grid3 {
		grid-template-columns: repeat(1, 1fr);
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 0
	}
	.grid3 h2 {
		font-size: 22px
	}
	.grid3__card {
		grid-template-areas: "feature" "introText" "empty";
		height: 250px;
		margin: 0 0 10px
	}
	.grid3__card1 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/grid3/new-in_1.jpg);
		background-blend-mode: multiply
	}
	.grid3__card2 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/grid4/f-lite-g-300-power-mobile.jpg)
	}
	.grid3__card3 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/roclite-345-mobile.jpg)
	}
	.grid3__card__text {
		margin: 26px
	}
}

.grid3b {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 80px;
	margin-right: 25px;
	margin-left: 25px
}

.grid3b__card4,
.grid3b__card5,
.grid3b__card6 {
	height: 400px
}

.grid3b__card4 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/grid3/sustainability-desktop.jpeg)
}

.grid3b__card5 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/grid3/keyworkers-desktop.jpeg)
}

.grid3b__card6 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/grid3/graphene.jpg)
}

.grid3b__card {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: "feature" "introText" "empty";
	background-color: #000;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all .5s ease;
	background-color: #c5c5c5;
	margin: 0 25px
}

.grid3b__card__feature {
	grid-area: feature;
	display: grid;
	grid-template-columns: 70% 30%
}

.grid3b__card__feature div {
	border: 1px solid #fff;
	color: #fff;
	padding: 5px 10px;
	max-height: 36px;
	margin: 20px 0 20px 20px
}

.grid3b__card__text {
	grid-area: introText;
	color: #fff;
	margin: 35px;
	display: grid;
	align-content: center
}

.grid3b p {
	text-transform: uppercase;
	font-size: 18px
}

.grid3b__card__link a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: underline;
	margin-right: 15px;
	font-size: 14px
}

@media only screen and (max-width:1180px) and (min-width:801px) {
	.grid3b__card4,
	.grid3b__card5,
	.grid3b__card6 {
		height: 300px
	}
	.grid3b__card h2 {
		font-size: 18px
	}
}

@media only screen and (max-width:801px) and (min-width:600px) {
	.grid3b__card4,
	.grid3b__card5,
	.grid3b__card6 {
		height: 229px
	}
	.grid3b {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 40px
	}
	.grid3b__card h2 {
		font-size: 18px
	}
	.grid3b__card {
		margin: 0 10px
	}
	.grid3b__card4 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/grid3/sustainability-tablet.jpeg)
	}
	.grid3b__card5 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/grid3/supportingheroes-tablet.jpeg);
		background-blend-mode: multiply
	}
	.grid3b__card6 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/grid3/playyourpart-tablet.jpeg)
	}
	.grid3b p {
		font-size: 12px
	}
	.grid3b__card__text {
		margin: 0 13px 0 35px
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.grid3b h2 {
		font-size: 22px
	}
	.grid3b__card__text {
		margin: 35px 20px
	}
	.grid3b {
		grid-template-columns: repeat(1, 1fr);
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 38px
	}
	.grid3b__card {
		grid-template-areas: "feature" "introText" "empty";
		height: 250px;
		margin: 0 0 10px
	}
	.grid3b__card4 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/grid3/sustainability-mobile.jpeg)
	}
	.grid3b__card5 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/grid3/supportingheroes-mobile.jpeg);
		background-blend-mode: multiply
	}
	.grid3b__card6 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/grid3/playyourpart-mobile.jpeg)
	}
}

.grid4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 50px;
	margin-right: 25px;
	margin-left: 25px
}

.grid4 h2 {
	font-size: 30px
}

.grid4__card1 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/grid4/roclite-275.jpg)
}

.grid4__card2 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/grid4/barexf-desktop.jpeg)
}

.grid4__card3 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/grid4/wainwrights-desktop.jpeg)
}

.grid4__card4 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/grid4/trailtalon-290.jpg)
}

.grid4__card {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 437px;
	grid-template-areas: "grid4feature" "grid4introText" "empty";
	background-color: #000;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all .5s ease;
	background-color: #c5c5c5;
	margin: 0 25px
}

.grid4__card__feature {
	grid-area: grid4feature;
	display: grid;
	grid-template-columns: 70% 30%
}

.grid4__card__feature div {
	border: 1px solid #fff;
	color: #fff;
	padding: 5px 10px;
	max-height: 36px;
	margin: 20px 0 20px 20px
}

.grid4__card__text {
	grid-area: grid4introText;
	color: #fff;
	margin: 30px 10px 15px 36px
}

.grid4__card__text .wrapper {
	width: 60%
}

.grid4 p {
	text-transform: uppercase
}

@media only screen and (max-width:1180px) and (min-width:1024px) {
	.grid4 h2 {
		font-size: 24px
	}
	.grid4__card {
		height: 300px
	}
}

@media only screen and (max-width:1024px) and (min-width:801px) {
	.grid4__card__text {
		grid-area: grid4introText;
		color: #fff;
		margin: 30px 15px 15px
	}
	.grid4 h2 {
		font-size: 24px
	}
	.grid4__card {
		height: 300px
	}
}

@media only screen and (max-width:801px) and (min-width:600px) {
.grid4__card__text .wrapper {
		width: 65%
	}
	.grid4__card {
		height: 354px;
		margin: 0 10px 20px
	}
	.grid4WithBottomText__card {
		margin: 0 0 10px 10px
	}
	.grid4 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 20px
	}
	.grid4__card1 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/grid4/roclite-275.jpg)
	}
	.grid4__card2 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/grid4/trainnatural-tablet.jpeg)
	}
	.grid4__card3 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/grid4/wainwrights-tablet.jpeg)
	}
	.grid4__card4 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/grid4/trailtalon-290.jpg)
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.grid4 {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin: 0 0 38px
	}
	.grid4 h2 {
		font-size: 22px
	}
	.grid4__card {
		grid-template-areas: "grid4feature" "grid4introText" "empty";
		height: 250px;
		margin: 0 0 10px
	}
	.grid4__card1 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/grid4/roclite-275_1.jpg);
		background-blend-mode: multiply
	}
	.grid4__card2 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/grid4/trainnatural-mobile.jpeg)
	}
	.grid4__card3 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/grid4/wainwrights-mobile.jpeg)
	}
	.grid4__card4 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/grid4/trailtalon-290_1.jpg)
	}
	.grid4__card__text .wrapper {
		width: 70%
	}
	.grid4__card__text {
		margin: 30px 10px 15px 26px
	}
}

.grid6a {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	margin-bottom: 50px;
	margin-right: 25px;
	margin-left: 25px
}

.grid6a h2 {
	font-size: 24px
}

.grid6a__card1 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/categories/jackets-desktop.jpeg);
	background-position: 50% 50%
}

.grid6a__card2 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/categories/baselayers-desktop.jpeg);
	background-position: 50% 50%
}

.grid6a__card3 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/categories/midlayers-desktop.jpeg);
	background-position: 50% 50%
}

.grid6a__card4 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/categories/vestspacks-desktop.jpeg);
	background-position: 50% 50%
}

.grid6a__card5 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/categories/tightstrousers-desktop.jpeg);
	background-position: 50% 50%
}

.grid6a__card6 {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/categories/allclothing-desktop.jpeg);
	background-position: 50% 50%
}

.grid6a__card {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	min-height: 400px;
	grid-template-areas: "feature" "introText" "empty";
	background-color: #c5c5c5;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all .5s ease;
	margin: 0 25px
}

.grid6a__card__feature {
	grid-area: feature;
	display: grid;
	grid-template-columns: repeat(2, 1fr)
}

.grid6a__card__feature div {
	border: 1px solid #fff;
	color: #fff;
	padding: 10px
}

.grid6a__card__text {
	grid-area: introText;
	color: #fff;
	margin: 100px 20px 20px;
	height: 50px
}

@media only screen and (max-width:1180px) and (min-width:1024px) {
	.grid6a h2 {
		font-size: 20px
	}
	.grid6a__card__text {
		grid-area: introText;
		color: #fff;
		margin: 100px 10px 10px;
		height: 50px
	}
}

@media only screen and (max-width:1024px) and (min-width:801px) {
	.grid6a h2 {
		font-size: 17px
	}
	.grid6a__card__text {
		margin: 100px 10px 10px
	}
	.grid6a__card {
		min-height: 300px;
		margin: 0 10px
	}
	.grid6a {
		margin-right: 35px;
		margin-left: 35px
	}
}

@media only screen and (max-width:801px) and (min-width:600px) {
	.grid6a__card1 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/categories/jackets-tablet.jpeg);
		background-position: 50% 50%
	}
	.grid6a__card2 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/categories/baselayers-tablet.jpeg);
		background-position: 50% 50%
	}
	.grid6a__card3 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/categories/midlayers-tablet.jpeg);
		background-position: 50% 50%
	}
	.grid6a__card4 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/categories/vestspacks-tablet.jpeg);
		background-position: 50% 50%
	}
	.grid6a__card5 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/categories/tightstrousers-tablet.jpeg);
		background-position: 50% 50%
	}
	.grid6a__card6 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/tablet/categories/allclothing-tablet.jpeg);
		background-position: 50% 50%
	}
	.grid6a {
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 10px;
		margin-right: 10px;
		margin-left: 10px
	}
	.grid6a__card {
		min-height: 300px;
		margin: 0 10px 20px
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.grid6a {
		grid-template-columns: repeat(1, 1fr);
		margin-right: 0;
		margin-left: 0
	}
	.grid6a__card1,
	.grid6a__card3,
	.grid6a__card4 {
		background-position: 60% 20%
	}
	.grid6a {
		margin-bottom: 0
	}
	.grid6a h2 {
		font-size: 22px
	}
	.grid6a__card1 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/categories/jackets-mobile.jpeg);
		background-position: 50% 50%
	}
	.grid6a__card2 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/categories/baselayers-mobile.jpeg);
		background-position: 50% 50%
	}
	.grid6a__card3 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/categories/midlayers-mobile.jpeg);
		background-position: 50% 50%
	}
	.grid6a__card4 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/categories/vestspacks-mobile.jpeg);
		background-position: 50% 50%
	}
	.grid6a__card5 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/categories/tightstrousers-mobile.jpeg);
		background-position: 50% 50%
	}
	.grid6a__card6 {
		background-image: url(https://www.inov-8.com/media/homepageGrid/mobile/categories/allclothing-mobile.jpeg);
		background-position: 50% 50%
	}
	.grid6a__card {
		grid-template-areas: "feature" "introText" "empty";
		height: 250px;
		min-height: 250px;
		margin: 0 0 10px
	}
	.grid6a__card__text {
		margin: 60px 20px 20px;
		display: grid;
		align-content: center
	}
}

video {
	object-fit: cover;
	top: 0;
	left: 0
}

.videoContainer,
video {


    object-fit: cover;
    width: 100%;
    height: 650px;
}

.videoContainer {
	margin-bottom: 50px
}

.videoContainer .shopButtons {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	max-width: 316px;
    gap: 20px;

}

.videoContainer p {
	color: #fff
}

.videoContainer .bannerText {
	position: absolute;
	 top: 50%;
   right: 14%;
	z-index: 10;
	padding: 0 0 0 90px;
	align-self: center
}


.videoContainer, video{

height: 780px;

}


@media only screen and (max-width: 1650px) and (min-width: 1351px) {
.videoContainer, video{

height: 620px;

}
.videoContainer .bannerText {
    right: 7%;
}
}
@media only screen and (max-width: 1350px) and (min-width: 1000px) {
.videoContainer, video{
   height: 425px;
}
.videoContainer .bannerText{
   right: 5%;
}
}
@media only screen and (max-width: 1000px) and (min-width: 800px) {

.videoContainer, video{
height: 350px;
}

.videoContainer .bannerText{
    top: 50%;
   right: 6%;
}
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
.videoContainer,
video{
   height: 650px;
}

.videoContainer .bannerText{
top: 83%;
   right: 25%;
}
}
@media only screen and (max-width: 800px) and (min-width: 0px) {

.videoContainer .shopButtons {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.videoContainer .bannerText {
    padding: 30px 0px 0px 20px;
}
}


@media only screen and (max-width: 600px) and (min-width: 436px) {
.videoContainer .bannerText{

    top: 88%;
    left: 22%;
}
}

@media only screen and (max-width: 435px) and (min-width: 0px) {

.videoContainer .bannerText{
    top: 84%;
    left: 13%;
}

}


@media only screen and (max-width:801px) and (min-width:0px) {
	.videoContainer {
		margin-bottom: 20px
	}
	.videoContainer .bannerText {
		padding: 0 0 0 45px
	}
.videoContainer .shopButtons {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
}

@media only screen and (max-width: 600px) and (min-width: 0px) {

.videoContainer, video {
   height: 619px;
}
.videoContainer .bannerText{
   padding: 0px 0px 0px 0px;

  



}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.videobanner {
		grid-template-columns: repeat(1, 1fr)
	}
	.videoContainer {
		margin-bottom: 10px
	}

	.videobanner {
		height: 600px
	}
	.videobanner img {
		max-height: 280px;
		justify-content: center
	}
	.videoContainer .bannerImage {
		align-self: flex-start
	}

	.gridText,
	.videoContainer .bannerText {
		align-self: flex-start
	}
	.videoContainer .bannerMobileTitle {
		display: block
	}
}

.grid4WithBottomText {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 50px;
	margin-right: 25px;
	margin-left: 25px
}

.grid4WithBottomText h3 {
	font-weight: 100;
	font-size: 20px
}

.grid4WithBottomText__card1 .grid4WithBottomText__card__image {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/blog/BLACK-TRAIL-RUNNERS-TACKLE-RAMSAY-ROUND.png)
}

.grid4WithBottomText__card2 .grid4WithBottomText__card__image {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/blog/REVIEWS-OF-TRAILFLY-ULTRA-G-300-MAX.png)
}

.grid4WithBottomText__card3 .grid4WithBottomText__card__image {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/blog/DAMIAN-HALL-BREAKS-COAST-TO-COAST-RECORD.png)
}

.grid4WithBottomText__card4 .grid4WithBottomText__card__image {
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/blog/blog-4.jpeg)
}

.grid4WithBottomText__card {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-areas: "grid4Image" "grid4Text";
	background-color: #f8f8f8;
	transition: all .5s ease;
	margin: 0 25px
}

.grid4WithBottomText__card__image {
	grid-area: grid4Image;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
	background-color: #c5c5c5
}

.grid4WithBottomText__card__text {
	padding: 30px;
	color: #000;
	min-height: 190px
}

.grid4WithBottomText__card__text h2 {
	color: #000
}

@media only screen and (max-width:1180px) and (min-width:801px) {
	.grid4WithBottomText__card__image {
		min-height: 240px
	}
	.grid4WithBottomText__card {
		margin: 0 10px
	}
}

@media only screen and (max-width:801px) and (min-width:600px) {
	.grid4WithBottomText {
		grid-template-columns: repeat(2, 1fr);
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 60px
	}
	.grid4WithBottomText h3 {
		font-size: 14px
	}
	.grid4WithBottomText__card__text {
		min-height: 140px
	}
	.grid4WithBottomText__card__image {
		min-height: 260px
	}
	.grid4WithBottomText__card {
		margin: 0 10px
	}
	.grid4WithBottomText__card1,
	.grid4WithBottomText__card2 {
		margin-bottom: 20px
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.grid4WithBottomText {
		grid-template-columns: repeat(1, 1fr);
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 0
	}
	.grid4WithBottomText__card {
		margin: 0 0 10px
	}
	.grid4WithBottomText__card__text {
		min-height: 70px;
		padding: 26px
	}
	.grid4WithBottomText__card__image {
		min-height: 250px
	}
	.grid4WithBottomText h3 {
		font-size: 14px
	}
.wordWrap{
    width: 70%;
}
}






.slider2 .card1 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p1.jpg"); 
}
.slider2 .card2 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p2.jpg"); 
}
.slider2 .card3 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p3.jpg"); 
}
.slider2 .card4 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p4.jpg"); 
}
.slider2 .card5 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p5.jpg"); 
}
.slider2 .card6 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p6.jpg"); 
}
.slider2 .card7 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p7.jpg"); 
}
.slider2 .card8 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p8.jpg"); 
}
.slider2 .card9 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p9.jpg"); 
}

.productCard{
    height: 334px;
    width: 320px;
    font-size: 16px;
    border-radius: 5px;
}
.productCard__image{
    height: 249px;
    width: 320px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.productCard__title{
    padding: 20px 0px;
}
.productCard__title h4{
    margin-bottom: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0;
}
.productCard__title p{
    margin-bottom: 20px;
    font-size: 16px;
}
.productCardHeight{
    height: 450px;
}

.productCardHeight .firstChildMargin {
    margin-left: 110px;
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .productCardHeight {
        height: 400px;
    }
    .productCard{
        width: 220px;
        height: 266px;
    }
    .productCard__image{
        height: 170px;
        width: 220px;
    }
    .productCardHeight .firstChildMargin {
        margin-left: 0px;
    }
}


/* ########## Carousel CSS ######## */

.productCard{
    height: 334px;
    width: 320px;
    font-size: 16px;
    border-radius: 5px;
}
.productCard__image{
    height: 249px;
    width: 320px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.productCard__title{
    padding: 20px 0px;
}
.productCard__title h4{
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0;
}
.productCard__title p{
    margin-bottom: 20px;
    font-size: 16px;
}
.productCard__title a:first-of-type {
    margin-right: 20px;
}
.productCardHeight{
    height: 450px;
}

.productCardHeight .firstChildMargin {
    margin-left: 110px;
}


@media only screen and (max-width: 800px) and (min-width: 601px) {
    .productCardHeight .firstChildMargin {
        margin-left: 30px;
    }
    .productCardHeight {
        height: 375px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .productCardHeight {
        height: 310px;
    }
    .productCard{
        width: 220px;
        height: 266px;
    }
    .productCard__image{
        height: 170px;
        width: 220px;
    }
    .productCardHeight .firstChildMargin {
        margin-left: 0px;
    }
}


#slider2 .card1 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p1.jpg"); 
}
#slider2 .card2 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p2.jpg"); 
}
#slider2 .card3 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p3.jpg"); 
}
#slider2 .card4 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p4.jpg"); 
}
#slider2 .card5 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p5.jpg"); 
}
#slider2 .card6 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p6.jpg"); 
}
#slider2 .card7 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p7.jpg"); 
}
#slider2 .card8 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p8.jpg"); 
}
#slider2 .card9 .productCard__image{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/p9.jpg"); 
}


/* ########## Carousel CSS ######## */


/* .slider {
    padding: 40px 0px 10px 0px;
} */
.slider_controls{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
}
.innerSlider a {
    text-decoration: none;
}
/* .slider6 .slider_controls {
    height: 875px;
} */
.sider_container{
    overflow: scroll;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: hidden;
}
.snapEffect{
    scroll-snap-type: x;  
    scroll-behavior: smooth;
}
.sliderChild{
    scroll-snap-align: start;
}

.sliderLeft{
    margin-right: 20px;
}
.slider .innerSlider{
    display: flex;
    gap: 30px;
    pointer-events: none; 
    position: absolute;
    top: 0;
    left: 0;
}

.slider {
    margin-bottom: 90px;
}

/* .slider6 .innerSlider{
    display: flex;
    gap: 50px;
    pointer-events: none; 
    position: absolute;
    top: 0;
    left: 0;
} */
.innerSlider a {
  pointer-events: all; 
}
/* .slider5 .innerSlider a{
    text-decoration: none;
} */
.slider_card {
    align-content: center;
}
.innerSlider img{
    max-height: 200px;
}
.slider_card_meta_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.innerSlider a{
    text-transform: uppercase;
    color: #000;
    text-decoration: underline;
}
.innerSlider_card_meta_info h3{
    text-transform: uppercase;
}
.sliderButtonControlContainer{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "titleSlider titleSlider titleSlider titleSlider titleSlider titleSlider controlsSlider controlsSlider controlsSlider";
    /* justify-content: flex-end; */
  /*   margin: 0px 40px 40px 0px; */
  margin-bottom: 50px;
}
.sliderTitle{
    grid-area: titleSlider;
}
.sliderTitle h3{
    font-size: 30px;
    margin-bottom: 0;
    margin-left: 112px;
}
.sliderControls{
    grid-area: controlsSlider;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
.sliderButtonControl{
    background-color: #ebebeb;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
}

.sliderButtonControl:disabled,
.sliderButtonControl[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


/* .sliderFiveLeft{
    margin-right: 20px;
} */

.lineThroughText {
    text-decoration-line: line-through;
}
.feature{
    border: 1px solid #000;
    display: inline-block;
    padding: 2px 20px;
    margin-bottom: 25px;
}
.noFeature{
    height: 50px;
}
.feature span{
    text-transform: uppercase;
    font-size: 10px;
}

@media only screen and (max-width: 800px) and (min-width: 601px){
    .innerSlider {
        width: auto;
    }
    .innerSlider img{
        max-height: 160px;
    }  
    .sliderControls{
        display: none;
    }
    .sliderTitle h3{
        margin-left: 30px;
    }
   
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .sliderButtonControlContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "titleSlider";
        /* justify-content: flex-end; */
      /*   margin: 0px 40px 40px 0px; */
    }
    .sliderControls{
        display: none;
    }
    .sliderTitle h3{
        margin-left: 30px;
    }
}

.sider_container::-webkit-scrollbar {
    height: 4px;
    -webkit-appearance: none;
} 
.sider_container::-webkit-scrollbar-track {
   background-color: #d0d0d0;
   margin-left: 200px;
   margin-right: 200px
 }
.sider_container::-webkit-scrollbar-thumb {
    background-color: #01ff01;
    outline: 1px solid slategrey;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .sider_container::-webkit-scrollbar{
        display: none;
    }
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .sider_container::-webkit-scrollbar{
        display: none;
    }
}